.title {
  font-size: 26px;
  font-weight: 900;
}

.controls {
  flex-direction: row;
}

@media (max-width: 35.99em) {
  .controls {
    flex-direction: column-reverse;
  }
}

.control {
  display: inline-block;
}

@media (max-width: 35.99em) {
  .control {
    width: 100%;
    text-align: center;
  }
}
