.root {
  padding-top: 80px;
  padding-bottom: 80px;
}

.label {
  text-align: center;
  font-weight: 900;
  font-size: 220px;
  line-height: 1;
  margin-bottom: 20px;
  color: var(--mantine-color-gray-2);
}

@media (max-width: 47.99em) {
  .label {
    font-size: 120px;
  }
}
