.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-md) * 4);
  padding-bottom: calc(var(--mantine-spacing-md) * 4);
}

.content {
  max-width: 480px;
  margin-right: calc(var(--mantine-spacing-md) * 3);
}

@media (max-width: 61.99em) {
  .content {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
}

[data-mantine-color-scheme="dark"] .title {
  color: var(--mantine-color-white);
}

[data-mantine-color-scheme="light"] .title {
  color: var(--mantine-color-black);
}

@media (max-width: 35.99em) {
  .title {
    font-size: 28px;
  }
}

.control {
  flex: 1;
}

@media (min-width: 36em) {
  .control {
    flex: unset;
  }
}

.image {
  display: none;
}

@media (min-width: 62em) {
  .image {
    display: flex;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-primary-color-0);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}

[data-mantine-color-scheme="dark"] .highlight {
  background-color: color-mix(in srgb, var(--mantine-primary-color-6) 55%, transparent);
}
